.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: var(--radius);
  box-shadow: var(--shadow);

  padding: 20px;
  margin-bottom: 50px;
}

.product_image_container {
  width: 100%;
  max-width: 300px;
  min-height: 300px;

  position: relative;
}

.product_description {
  margin-top: 30px;
}

.product_description > div {
  margin-top: 15px;
}

.price {
  font-size: 30px;
  color: var(--color-blue-700)
}

.badge {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}


@media (min-width: 992px) {

}